<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <if args="!getFormattedSendCloudData()">
                <span class="value" data-bind="text: getShippingMethodTitle()"></span>
            </if>

            <if args="getServicePointInformation()">
                <div class="service-point-information" data-bind="visible: selectedMethod() == 'sendcloudv2servicepoint_sendcloudv2servicepoint'">
                    <strong data-bind="text: getServicePointInformation().name"></strong><br>
                    <span>
                        <!-- ko text: getServicePointInformation().street --><!-- /ko -->
                        <!-- ko text: getServicePointInformation().house_number --><!-- /ko -->
                    </span><br>
                    <span data-bind="text: getServicePointInformation().postal_code"></span>
                    <span data-bind="text: getServicePointInformation().city"></span><br>
                    <span data-bind="text: getServicePointInformation().postnumber"></span>
                </div>
            </if>
            <if args="getFormattedSendCloudData()">
                <div class="sendcloud-data" data-bind="visible: selectedCarrier() == 'sendcloudv2skeleton'">
                    <strong data-bind="text: getFormattedSendCloudData().name"></strong><br>
                    <span data-bind="i18n: 'Delivery Date'"></span>: <span data-bind="text: getFormattedSendCloudData().date"></span>
                </div>
            </if>
        </div>
    </div>
</div>
<!--/ko-->
