<integrations>
    <integration name="SendCloud">
        <email>info@sendcloud.com</email>
        <endpoint_url>https://sendcloud241.magdev.creative-ct.nl/endpoint.php</endpoint_url>
        <identity_link_url>https://sendcloud241.magdev.creative-ct.nl/login.php</identity_link_url>
    </integration>
</integrations>
