<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SendCloud\SendCloudV2\Api\ServicePointInterface" type="SendCloud\SendCloudV2\Model\ServicePoint" />
    <preference for="SendCloud\SendCloudV2\Api\SettingsInterface" type="SendCloud\SendCloudV2\Model\Settings"/>
    <preference for="SendCloud\SendCloudV2\Api\CheckoutManagementInterface" type="SendCloud\SendCloudV2\Model\CheckoutManagement"/>

    <type name="SendCloud\SendCloudV2\Logger\SendCloudHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SendCloud\SendCloudV2\Logger\SendCloudLogger">
        <arguments>
            <argument name="name" xsi:type="string">SendCloud Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SendCloud\SendCloudV2\Logger\SendCloudHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="SendCloud_SendCloudV2::AddOrderItemExtensionAttribute" type="SendCloud\SendCloudV2\Plugin\Order\OrderItemRepository"/>
    </type>
</config>
