<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sendcloudv2_exportrates" frontName="sendcloudv2_exportrates">
            <module name="SendCloud_SendCloudV2" before="Magento_Backend" />
        </route>
        <route id="setup_integration" frontName="setup_integration">
            <module name="SendCloud_SendCLoudV2" before="Magento_Backend"/>
        </route>
    </router>
</config>
